body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  background-repeat: repeat;
  background-image: url(../img/pattern.png);
  color: #ffffff; }

.fondo-panel{
  clip-path: polygon(20% 0, 80% 0%, 75% 50%, 80% 100%, 20% 100%, 25% 50%);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-limite{
  padding:40px 50px;
  max-height: 24vw;
  overflow-y: scroll;
}

.table{
  color:black;
}
  .modal-header, .letraPagos, .close {
      background-color: #5cb85c;
      color:white;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

.selectB{
  width: 50%;
  margin: auto;
  display: inline-block;
}

.letraModal{
  color: #000000;
}

.opcionesPago{
    font-family: 'Saira Extra Condensed', serif;
    margin: auto;
    padding: 5px;
    font-size: 1.9rem;
    font-weight: bold;
    left: 1vw;
    position: relative;

}

.fondoSeccion{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.divTitulo{
  margin:0;
  text-align: center;
  margin-top: 20px;
}
.contenido{
  margin:0;
  text-align: center;
}

.contenidoMiembros{
  margin:0;
  text-align: center;
  max-height: 28vw;
  overflow-y: scroll;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

label{
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  top: 0.25vw;
}

h4{
  color: black;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem; }

.list-social-icons a {
  color: #495057; }
  .list-social-icons a:hover {
    color: #5ea51f; }
  .list-social-icons a .fa-lg {
    font-size: 1.75rem; }

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #5ea51f; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

.bg-primary {
  background-color: #000000 !important; }

.text-primary {
  color: #666d5f !important; }

a {
  color: #ffffff; }
  a:hover, a:focus, a:active {
    color: #5ea51f; }

    .header-input{
      width: 50%;
      border: 2px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      background-position: 5px 5px;
      background-repeat: no-repeat;
      padding: 10px 20px 6px 30px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      font-size: 16px;
      font-family: 'Saira Extra Condensed', serif;
    }
.inputs{
  border-radius: 5px;
  font-family: 'Saira Extra Condensed', serif;
}

.jumbologin{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  left: -10vw;
}
.containerLogin{
padding: 20px;
background-color: rgba(0, 0, 0, 0.7);
text-align: center;
width: 50vw;
height: 25vw;
position: relative;
}
